<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <!--<form action="/" method="POST">
        <label for="inputText">나동반</label><br>
        <p><textarea name = "text" placeholder="나동반에게 할말을 적어주세요"></textarea></p><br>
        <input type="submit" value="Submit">
    </form>-->
    
    <h1>나동반과 은밀한대화</h1>
    <h3>버튼을 누르고 말씀하세요</h3>
    <button onclick="buttonClick()">음성인식 버튼</button>
    <div class="print" id="userMessage"> 사용자 : </div>
    <div class="print" id="dkdk"> 나동반 : </div>
    <br>
    <a href="/Viewchart">차트보기</a>

    <script>
        function audio_to_text() {
            
            const recognition = new window.webkitSpeechRecognition(); // Chrome 브라우저에서는 webkitSpeechRecognition을 사용합니다.
            recognition.lang = 'ko-KR'; 
            
            recognition.onresult = function(event) {
                const transcript = event.results[0][0].transcript;
                console.log('인식된 텍스트:', transcript);

                document.getElementById('userMessage').innerText = '사용자 : ' + transcript;
                
                fetch('/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ text: transcript }) 
                })
                .then(response => response.text())
                .then(receivedText => {
                    console.log('Received from server:', receivedText);  // 받은 텍스트를 출력
                    document.getElementById('dkdk').innerText = '사용자 : ' + receivedText;
                })
                .catch(error => console.error('Error:', error));
            };

            recognition.start(); // 음성 인식을 시작합니다.
        }
        fetch('/')
            .then(response => response.text())  // 서버로부터 받은 텍스트 데이터를 읽음
            .then(data => {
                //console.log('Received from server:', data);  // 받은 텍스트를 출력
                
            })
            .catch(error => {
                console.error('Error:', error);
            });

        function buttonClick() {
            audio_to_text(); // 버튼 클릭 시 음성인식 함수 호출
        }
    </script>
</body>
</html>


